<a href="https://colab.research.google.com/github/AJITH-ACHARYA-MULKI/Python-DSA/blob/main/Python_mysql_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.10/dist-packages (2.2.9)

In [26]:
import mysql.connector

connection = mysql.connector.connect(host="test.c7goyyammlpc.us-east-2.rds.amazonaws.com", user="test", password="Ajith1999", database="test")
cursor = connection.cursor()

def create_table():
    create_table_query = '''
    CREATE TABLE IF NOT EXISTS employee (
        id INT AUTO_INCREMENT PRIMARY KEY,
        Name VARCHAR(255) NOT NULL,
        address VARCHAR(255) NOT NULL
    )
    '''
    y = cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully.")

def create_record(value1, value2):
    insert_query = "INSERT INTO employee (name, address) VALUES (%s, %s)"
    values = (value1, value2)
    cursor.execute(insert_query, values)
    connection.commit()
    print(f"Inserted ID: {cursor.lastrowid}")


def delete_record(record_id):
    delete_query = "DELETE FROM employee WHERE id = %s"
    cursor.execute(delete_query, (record_id,))
    connection.commit()
    print(f"Deleted Rows: {cursor.rowcount}")


try:
  create_table()
  create_record("Ajith", "3rd cross")
  delete_record(1)
except mysql.connector.ProgrammingError as e:
  print(e)
cursor.execute("select * from employee")
print(cursor.fetchall())

Table created successfully.
Inserted ID: 9
Deleted Rows: 0
[(2, 'value1', 'value2'), (3, 'Ajith', '3rd cross'), (4, 'Ajith', '3rd cross'), (5, 'Ajith', '3rd cross'), (6, 'Ajith', '3rd cross'), (7, 'Ajith', '3rd cross'), (8, 'Ajith', '3rd cross'), (9, 'Ajith', '3rd cross')]

In [ ]:
cursor.execute("select * from employee")
for row in cursor:
  print(row[0], row[1], row[2])
  print(row)
cursor.execute("select * from employee where id="+str(7))
#CompId=%(c_id)s", {"c_id":id}
print(cursor.fetchone())

2 value1 value2
(2, 'value1', 'value2')
3 Ajith 3rd cross
(3, 'Ajith', '3rd cross')
4 Ajith 3rd cross
(4, 'Ajith', '3rd cross')
5 Ajith 3rd cross
(5, 'Ajith', '3rd cross')
6 Ajith 3rd cross
(6, 'Ajith', '3rd cross')
7 Ajith 3rd cross
(7, 'Ajith', '3rd cross')
8 Ajith 3rd cross
(8, 'Ajith', '3rd cross')
(7, 'Ajith', '3rd cross')

In [ ]:
cursor.close()
connection.close()

In [ ]:
#stored procedure
DELIMITER //
CREATE PROCEDURE promotion_discount(IN discount INT, INOUT price INT)
BEGIN
SET price=price*(1-discount/100);
END;
//

cur = con.cursor()
args = [10,1000]
res = cur.callproc('promotion_discount', args)

In [ ]:
#stored function
DELIMITER //
CREATE FUNCTION increase_by_100 (number INT) RETURNS INT
BEGIN
    RETURN number+100;
END;
//

cur.execute('SELECT increase_by_100(%s)', [10])
print(cur.fetchone())

In [35]:
#DB excersice

import mysql.connector

connection = mysql.connector.connect(host="test.c7goyyammlpc.us-east-2.rds.amazonaws.com", user="test", password="Ajith1999", database="test")
cursor = connection.cursor()

def create_table():
    create_table_query = '''
    CREATE TABLE IF NOT EXISTS Student (
        Sid INT AUTO_INCREMENT PRIMARY KEY,
        Sname VARCHAR(255) NOT NULL,
        course VARCHAR(255) NOT NULL,
        marks INT NOT NULL
    )
    '''
    y = cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully.")

def create_record(*args):
    insert_query = "INSERT INTO Student VALUES (%s, %s, %s, %s)"
    values = (args[0],args[1],args[2],args[3])
    cursor.execute(insert_query, values)
    connection.commit()
    print(f"Inserted ID: {cursor.lastrowid}")

def update_record(coulmn1, value1, coulmn2, value2):
    update_query = "UPDATE Student SET %s = %s WHERE %s = %s"
    values = (coulmn1, value1, coulmn2, value2)
    cursor.execute(update_query, values)
    connection.commit()
    print(f"Updated Rows: {cursor.rowcount}")
def display():
    cursor.execute("select * from Student")
    print(cursor.fetchall())

def delete_record1(record_id):
    delete_query = "DELETE FROM Student WHERE Sid = %s"
    cursor.execute(delete_query, (record_id,))
    connection.commit()
    print(f"Deleted Rows: {cursor.rowcount}")

In [18]:
print("Selct below options:")
print("Enter 1 to add new record/",
       "Enter 2 to Update an existing student detail", "Enter 3 to Remove a student",
      "Enter 4 to Display a student", sep = "\n")

i = 2

try:
  create_table()
  create_record(1, "thomas", "python", 82)
  #delete_record(1)
except mysql.connector.ProgrammingError as e:
  print(e)

Selct below options:
Enter 1 to add new record/
Enter 2 to Update an existing student detail
Enter 3 to Remove a student
Enter 4 to Display a student
Table created successfully.
Inserted ID: 1

In [36]:
try:
  display()
  delete_record1(1)
  display()
except mysql.connector.ProgrammingError as e:
  print(e)

[(1, 'thomas', 'python', 82)]
Deleted Rows: 1
[]

In [32]:
import mysql.connector

connection = mysql.connector.connect(host="test.c7goyyammlpc.us-east-2.rds.amazonaws.com", user="test", password="Ajith1999", database="test")

cursor = connection.cursor()

# Function to create a table
def create_table():
    create_table_query = '''
    CREATE TABLE IF NOT EXISTS your_table (
        id INT AUTO_INCREMENT PRIMARY KEY,
        column1 VARCHAR(255) NOT NULL,
        column2 VARCHAR(255) NOT NULL
    )
    '''
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully.")

# CREATE operation
def create_record():
    insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
    values = ("value1", "value2")
    cursor.execute(insert_query, values)
    connection.commit()
    print(f"Inserted ID: {cursor.lastrowid}")

# READ operation
def read_records():
    select_query = "SELECT * FROM your_table"
    cursor.execute(select_query)
    results = cursor.fetchall()
    for row in results:
        print(row)

# UPDATE operation
def update_record(record_id):
    update_query = "UPDATE your_table SET column1 = %s WHERE id = %s"
    values = ("new_value", record_id)
    cursor.execute(update_query, values)
    connection.commit()
    print(f"Updated Rows: {cursor.rowcount}")

# DELETE operation
def delete_record(record_id):
    delete_query = "DELETE FROM your_table WHERE id = %s"
    cursor.execute(delete_query, (record_id,))
    connection.commit()
    print(f"Deleted Rows: {cursor.rowcount}")

# Use the functions
create_table()  # Create the table
create_record()  # Insert a record
read_records()  # Read the records
update_record(record_id=1)  # Update the record with ID 1
delete_record(2)  # Delete the record with ID 1

# Close the connection
cursor.close()
connection.close()

Table created successfully.
Inserted ID: 3
(2, 'value1', 'value2')
(3, 'value1', 'value2')
Updated Rows: 0
Deleted Rows: 1